
**/*.o
**/*.so
**/*.a
**/*.out
**/*.pdf
**/*.pyc

**/*.fatbin
**/*.fatbin.c
**/*.reg.c
**/*.cubin
**/.AppleDouble
**/Makefile
**/cmake_install.cmake
**/CMakeFiles
**/CMakeCache.txt
**/.idea
build/
~          

# Temporary files
*~

# OS X files
.DS_Store
.DS_Store?
